
.card {
  background-color: #1f1f1f;
  border: none;
  transition: transform 0.2s;
}

.card:hover {
  transform: scale(1.05);
}


.card-img-top {
  width: 100%;
  height: 400px;         
  object-fit: cover;     
  border-radius: 10px 10px 0 0;
}


.card-title {
  color: #fff;
  font-size: 1rem;
  text-align: center;
  height: 45px;         
  overflow: hidden;
}


.btn-primary {
  background-color: #e50914;
  border: none;
  width: 100%;
}

.btn-primary:hover {
  background-color: #f40612;
}


.container h2 {
  margin-bottom: 20px;
  font-weight: bold;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
}


.container {
  flex: 1;
}

footer {
  background-color: #111;
  color: #fff;
  text-align: center;
  padding: 10px 0;
}
