body {
  background-color: #141414;
}
img{
  width: 160px;
}
.card {
  background-color: #1f1f1f;
  border: none;
}

.card-title {
  color: #fff;
}

.btn-primary {
  background-color: #e50914;
  border: none;
}
.btn-primary:hover {
  background-color: #f40612;
}